* {
    font-family: 'Kanit', sans-serif;
    color: #1F2421;
}

body {
    width: 100vw;
    height: 100vh;
    /* background-color: #1e1e1e; */
}

body,
div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}